.about-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
} .about-title {
  width: 100%;
  border-bottom: solid 1px;
  margin-bottom: 1rem;
} .about-desc {
  width: 100%;
  font-weight: 700;
  text-align: justify;
  margin-bottom: 1rem;
}

.image-header {
  width: 100%;
  height: 100px;
  height: fit-content;
  margin-bottom: 2rem;
} .image-header .img {
  width: 100%;
  height: auto;
  display: block;
}
