.album-container {
  gap: 50px;
}

.album-header {
  display: flex;
  flex-direction: row-reverse;
  align-self: stretch;
  justify-content: center;
  gap: 50px;
  width: 100%;
  box-sizing: border-box;
}

.album-header .album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 100px;
  margin-bottom: 20px;
} .album-header .album-info .album-data {
  display: flex;
  gap: 8px;
  font-size: 15px;
} .album-header .album-info .album-data .separator {
  all: unset;
  display: flex;
  align-items: start;
  font-size: 40px;
  line-height: 0.39;
  user-select: none;
} .album-header .album-info .title {
  font-size: 36px;
  font-weight: 800;
} .album-header .album-info .desc {
  font-size: 16px;
  font-weight: 600;
}

.album-header .thumbnail {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 500px;
  height: 500px;
  width: min(500px, 100%);
  height: min(500px, 100%);
  border-radius: 1000px;
  overflow: hidden;
} .album-header .thumbnail .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  box-shadow: inset 0 0 25px 10px rgba(60, 60, 60, 0.5);
}


.group-header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100px;
} .group-header .title {
  color: var(--foreground);
} .group-header .desc {
  color: var(--foreground);
  font-weight: bold;
}

.metadata-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
} .metadata-bar .data-point {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 5px;
  text-align: center;
} .metadata-bar .data-point:not(:first-child) {
  border-left: 1px solid rgba(128, 128, 128, 0.3);
} .metadata-bar .data-point .label {
  font-size: large;
  font-weight: normal;
} .metadata-bar .data-point .data {
  font-weight: bold;
}

@media (max-width: 768px) {
  .album-header {
    flex-direction: column-reverse;
    gap: 30px;
    padding: 0;
    padding-top: 0;
    margin-bottom: 30px;
    align-items: center
  } .album-header .album-info {
    width: 100%;
    margin: 0px;
    gap: 20px;
  }

  .album-header .thumbnail {
    width: 70%;
  }
}