.album-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.album-header .album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
} .album-header .album-info .album-data {
  display: flex;
  gap: 8px;
  font-size: 15px;
} .album-header .album-info .album-data .separator {
  all: unset;
  display: flex;
  align-items: start;
  font-size: 40px;
  line-height: 0.39;
  user-select: none;
} .album-header .album-info .title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
} .album-header .album-info .desc {
  font-size: 16px;
  font-weight: 600;
}

.album-header .thumbnail {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 500px;
  height: 500px;
  width: min(500px, 100%);
  height: min(500px, 100%);
  border-radius: 1000px;
  overflow: hidden;
} .album-header .thumbnail .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  box-shadow: inset 0 0 25px 10px rgba(60, 60, 60, 0.5);
}

@media (max-width: 768px) {
  .album-header {
    flex-direction: column;
    gap: 30px;
    padding: 0;
    padding-top: 0;
    margin-bottom: 30px;
  } .album-header .album-info {
    width: 100%;
  }

  .album-header .thumbnail {
    width: 70%;
  }
}