.atlas-container {
  display: flex;
  gap: 10px;
  width: 100vw;
  height: calc(100svh - 100px);
  padding: 10px;
  overflow: hidden;
} .atlas-container .atlas {
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: var(--radius2);
  overflow: hidden;
}

.atlas-container .atlas::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: var(--radius2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1001;
}

.atlas-container .atlas-sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100svh;
  top: 0;
  right: 0;
  gap: 10px;
  padding: 10px;
  padding-top: 110px;
  overflow: auto;
  scroll-padding-top: 100px;
  overflow-x: hidden;
}

.atlas-container .tooltip {
  height: 100%;
  display: flex;
  align-items: center;
} .atlas-container .tooltip .text {
  width: 100%;
  text-align: center;
}

.loading-map {
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
}

.marker {
  transition: transform 0.2s ease;
  transform-origin: center center;
} .marker:hover {
  transform: scale(1.1);
  z-index: 1000;
}

.cluster {
  transition: transform 0.2s ease;
  transform-origin: center center;
} .cluster:hover {
  transform: scale(1.1);
  z-index: 1000;
}


@media (max-width: 768px) {
  .main {
    padding: 0px;
  }
  .atlas-container {
    flex-direction: column;
    height: calc(100svh);
    padding: 0px;
    gap: 0px;
  } .atlas-container .atlas {
    transition: height 0.3s ease;
    width: 100%;
    border-radius: 0px;
  } .atlas-container .atlas::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0px;
    box-shadow: none;
  } .atlas-container .atlas-sidebar {
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    transition: height 0.3s ease;
    margin-top: -15px;
    padding: 10px;
    padding-bottom: 100px;
    scrollbar-width: none;
    border-radius: 20px;
  } .atlas-container .expand {
    height: 75%;
  } .atlas-container .compress {
    height: 25%;
  }
}