.atlas-container {
  display: flex;
  gap: 10px;
  width: 100vw;
  height: calc(100svh - 100px);
  padding: 10px;
} .atlas-container .atlas {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.atlas-container .atlas::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1000;
}

.atlas-container .atlas-sidebar {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: scroll;
}

.loading-map {
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
}

.marker {
  transition: transform 0.2s ease;
  transform-origin: center center;
} .marker:hover {
  transform: scale(1.1);
  z-index: 1000;
}

.cluster {
  transition: transform 0.2s ease;
  transform-origin: center center;
} .cluster:hover {
  transform: scale(1.1);
  z-index: 1000;
}


@media (max-width: 768px) {
  .atlas-container {
    flex-direction: column;
    height: calc(100svh - 100px);
    overflow:auto;
  } .atlas-container .atlas {
    transition: height 0.3s ease;
  } .atlas-container .atlas-sidebar {
    transition: height 0.3s ease;
  } .atlas-container .expand {
    height: 75%;
  } .atlas-container .compress {
    height: 25%;
  }
}