.main {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-satoshi), Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  width: 100%;
  background: #FFFFFFFF;
  overflow: auto;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  height: 100%;

}

.button {
  all: unset;
  background-color: rgb(154, 154, 154);
  width: 5svh;
  height: 5svh;
  border-radius: 50px;
} .button .close {
  position: absolute;
  top: 1svh;
  right: 1svh;
} .button .close:hover {
  cursor: pointer;
} .button .arrow {
  position: absolute;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    max-width: 100%;
  }
}