.image-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
} .image-board .image-row {
  display: flex;
  gap: 4px;
}.image-board .image-btn {
  all: unset;
  cursor: zoom-in;
  display: block;
}.image-board .image-btn .image {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}.image-board .image-btn .image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px 10px rgba(60, 60, 60, 0.5);
  z-index: 1;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  user-select: none;
} .lightbox .image-container {
  position: relative;
  width: 95svw;
  height: 80svh;
} .lightbox .lightbox-navibar {
  position: fixed;
  display: flex;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  height: 60px;
} .lightbox .image-indicator {
  display: flex;
  gap: 10px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(128, 128, 128, 0.3);
  font-weight: 800;
} .lightbox .image-indicator .count {
  width: 30px;
  text-align: center;
}

.lightbox-btn {
  all: unset;
  display: flex;
  user-select: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(128, 128, 128, 0.3);
  z-index: 6;
} .lightbox-btn:hover {
  border: 1px solid rgba(128, 128, 128, 1);
} .lightbox-btn.close {
  position: fixed;
  top: 20px;
  right: 20px;
}

.lightbox-navi-btn {
  all: unset;
  position: fixed;
  top: 0;
  color: rgba(255, 255, 255, 0);
  font-size: 36px;
  box-sizing: border-box;
  height: 100svh;
  width: 30svw;
  border-radius: 50%;
  color: rgba(255, 255, 255);
  background-color: rgba(30, 30, 30, 0.3);
  font-weight: 600;
  opacity: 0;
  transition:
    opacity 0.8s ease;
} .lightbox-navi-btn:active {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.1s ease;
} .lightbox-navi-btn.left {
  left: 0;
  transform: translateX(-50%);
  padding-right: 25px;
  text-align: end;
} .lightbox-navi-btn.right {
  right: 0;
  transform: translateX(+50%);
  padding-left: 25px;
  text-align: start;
}

@media (max-width: 768px) {
   .lightbox-btn.close {
    display: flex;
    top: unset;
    right: 10px;
    bottom: 10px;
  }

  .lightbox-navi-btn {
    width: 60svw;
  } .lightbox-navi-btn.left {
    padding-right: 15px;
  } .lightbox-navi-btn.right {
    padding-left: 15px;
  }
}