.main {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  padding: 0px 5dvw 50px 5dvw;
  flex-direction: column;
}

.navi {
  all: unset;
  pointer-events: none;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  z-index: 1;

  transition: height 0.2s ease;
} .navi * {
  pointer-events: auto;
 } .navi .navi-list {
  all: unset;
  display: flex;
} .navi .navi-list li {
  list-style: none;
}

.navi .hamburg-icon {
  display: none;
}

.navi .button{
  all: unset;
  display: flex;
  width: 140px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
} .navi .button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
} .navi .button .label {
  all: unset;
  font-weight: 700;
  font-size: 18px;
}

.content {
  margin-top: 6rem;
  width: 100%;
}

@media (max-width: 768px) {
  .navi {
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: none;
    padding: 50px;
    align-items: flex-end;
    justify-content: flex-end;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  } .navi .navi-list {
    opacity: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0;
    transition: 
      opacity 0.1s ease,
      visibility 0.1s ease;
  } .navi .button {
    justify-content: flex-end;
  }

  .navi .hamburg-icon {
    all: unset;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 25px;
    bottom: 25px;
  } .navi .hamburg-icon span {
    font-size: 25px;
  }

  .navi.open {
    height: 40svh;
  } .navi.open .navi-list {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  .main {
    padding: 0px 1rem 6rem 1rem;
  }

  .content {
    margin-top: 5dvh;
  }
}