.picture-stream {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 0.5dvh;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  margin-top: 6rem;
  flex-direction: column;
  padding: 1dvh;
}

.stream-picture-frame {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  height: auto;
  gap: 1rem;
  border-radius: 0.5rem;
  transition:
    width 0.4s ease,
    height 0.4s ease,
    top 0.4s ease,
    left 0.4s ease,
    box-shadow 0.1s ease;
  padding: 0.5rem;
  cursor: pointer;
} .stream-picture-frame:hover {
  box-shadow: 2px 2px 0.6rem rgb(50, 42, 64);
} .stream-picture-frame.right {
  flex-direction: row-reverse;
} .stream-picture-frame .image-container {
  height: 100%;
} .stream-picture-frame .image-container img {
  border-radius: 0.35rem;
}

@media (max-width: 768px) {
  .picture-stream {
    gap: 2dvh;
    padding: 0;
    margin-top: 5dvh;
  }

  .stream-picture-frame {
    padding: 0;
    border-radius: 0;
    border-bottom: solid 1px;
    padding-bottom: 2dvh;
    flex-direction: column;
  } .stream-picture-frame:last-child {
    border: none;
  } .stream-picture-frame.right {
    flex-direction: column;
  }.stream-picture-frame:hover {
  box-shadow: none;
  } .stream-picture-frame .image-container {
    width: 100%;
  } .stream-picture-frame .info-section {
    width: 100%;
  }
}