.picture-frame {
  position: relative;
  width: auto;
  height: auto;
  max-width: 90%;
  overflow: hidden;
  display: inline-flex;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 3;
  transition:
    width 0.4s ease,
    height 0.4s ease,
    top 0.4s ease,
    left 0.4s ease;
}

.picture-title {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.picture-title .text {
  all: unset;
  font-size: xx-large;
  color: black;
}

.picture-container {
  height: 85svh;
  max-width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.5rem;
} .picture-container img {
  height: fit-content;
  border-radius: 0.25rem;
} .picture-container .picture-desc {
  width: auto;
  max-width: 25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} .picture-container .picture-desc .text {
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  color: black;
}

@media (max-width: 768px) {
  .picture-frame {
    position: relative;
    width: auto;
    max-width: 90%;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .picture-container {
    max-height: 85svh;
    max-width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
}