
.timeline {
  position: absolute;
  width: 0.1rem;
  height: 100%;
  margin-top: 0px;
  border-radius: 50px;
  background: linear-gradient(to bottom, transparent 0%, var(--foreground) 250px, var(--foreground) 100%);
  align-self: center;
  justify-content: center;
}

.timeline-frame {
  max-height: 100%;
  height: auto;
  width: 100%;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: -120px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  transition:
    color 0.3s ease,
    gap 0.3s ease,
    padding 0.3s ease;
} .timeline-frame:first-child {
  margin-top: 0px;
} .timeline-frame:hover {
  cursor: pointer;
  color: crimson;
  gap: 6rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.poster {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
  border-radius: var(--radius2);
  height: 100%;
  width: 50%;
  flex-shrink: 1;
} .poster img {
  max-width: 100%;
  width: auto;
  height: 100%;
} .poster .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inset: 0;
  background: radial-gradient(
    ellipse 90% 50% at center,
    transparent 60%,
    rgba(0, 0, 0, 0.3) 100%
  );
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  color: rgba(255, 255, 255);
} .poster .overlay .title {
  font-size: 4rem;
  text-align: end;
  padding-right: 10px;
} .poster .overlay .title-side {
  height: 100%;
  font-size: 4rem;
  text-align: start;
  writing-mode: vertical-rl;
} .poster .overlay .footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
} .poster .overlay .footer .desc {
  width: 55%;
  font-size: 1.2rem;
  justify-content: end;
  margin-top: auto;
} .poster .overlay .footer .date {
  padding-right: 10px;
  font-size: 2rem;
  margin-top: auto;
}


.timeline-frame .info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
} .timeline-frame .info-section .album-data {
  display: flex;
  gap: 8px;
  display: flex;
  font-weight: bold;
  font-size: 32px;
} .timeline-frame .info-section .album-data .separator {
  all: unset;
  user-select: none;
  display: flex;
  align-items: start;
  font-size: 40px;
  line-height: 0.39;
} .timeline-frame .info-section .title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
} .timeline-frame .info-section .desc {
  font-size: 16px;
  font-weight: 600;
} .timeline-frame .dot {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--foreground);
  transition:
    width 0.15s ease,
    height 0.3s ease,
    background-color 0.3s ease;
    z-index: 2;
} .timeline-frame:hover .dot {
  width: 2.5rem;
  height: 2.5rem;
  background-color: crimson;
}

.timeline-frame.right {
  flex-direction: row-reverse;
} .timeline-frame.right .poster {
  flex-direction: row;
} .timeline-frame.right .info-section {
  text-align: end;
} .timeline-frame.right .info-section .album-data {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .timelineContent {
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 0px;
  }

  .timeline {
    position: absolute;
    left: calc((15 - (3 / 2)) * 1px);
    width: 2px;
    height: 100%;
  }

  .timeline-frame {
    max-height: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 0;
    margin-top: 0px;
    gap: 20px;
  }.timeline-frame.right {
    flex-direction: column;
  } .timeline-frame .info-section {
    display: none;
  } .timeline-frame .dot {
    position: absolute;
    border-radius: 50px;
    background-color: var(--foreground);
    left: calc((15 - (15 / 2)) * 1px);
    width:  15px;
    height: 15px;
  } .timeline-frame:hover .dot {
    width: 15px;
    height: 15px;
  } .timeline-frame:hover {
    gap: 5rem;
    padding-left: 15px;
    padding-right: 0;
  }
  
  .poster {
    max-width: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } .poster img {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    border-radius: 5px;
  }
}